appnope==0.1.0
boto==2.39.0
decorator==4.0.6
dj-database-url==0.3.0
Django==1.9.1
django-debug-toolbar==1.4
django-storages==1.1.8
first==2.0.1
furl==0.4.91
gnureadline==6.3.3
gunicorn==19.4.5
ipdb==0.8.1
ipython==4.0.3
ipython-genutils==0.1.0
opbeat==3.2.1
orderedmultidict==0.7.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
traitlets==4.1.0
wheel==0.26.0
whitenoise==2.0.6
