.c-title {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	padding: $standard-padding 0;
}

.c-subtitle {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-bottom: $standard-padding;	
}

.c-toggle {
	display: block;
	color: white;
	font-size: 12px;
	margin-bottom: $standard-padding;
	cursor: pointer;
}