{% extends 'base.html' %}

{% block content %}

<form method="POST">
  {% csrf_token %}

  <div class="row">
    
    <div class="columns large-offset-2 large-2 medium-4 small-12"><label class="middle" for="{{ form.address.id_for_label }}">Address:</label></div>
    <div class="columns large-6 medium-8 small-12 end">{{ form.address }}{{ form.address.errors }}</div>
  </div>

  <div class="row">
    <div class="columns large-offset-2 large-2 medium-4 small-12"><label class="middle" for="{{ form.property_type.id_for_label }}">Type:</label></div>
    <div class="columns large-6 medium-8 small-12 end">{{ form.property_type }}{{ form.property_type.errors }}</div>
  </div>

  <div class="row">
    <div class="columns large-offset-2 large-2 medium-4 small-12"><label class="middle" for="{{ form.room_count.id_for_label }}">Number of Rooms:</label></div>
    <div class="columns large-6 medium-8 small-12 end">{{ form.room_count }}{{ form.room_count.errors }}</div>
  </div>

  <div class="row">
    <div class="columns large-offset-2 large-2 medium-4 small-12"><label class="middle" for="{{ form.available_date.id_for_label }}">Available from:</label></div>
    <div class="columns large-6 medium-8 small-12 end">{{ form.available_date }}{{ form.available_date.errors }}</div>
  </div>

  <div class="row">
    <div class="columns large-offset-2 large-2 medium-4 small-12"><label class="middle" for="{{ form.price.id_for_label }}">Price:</label></div>
    <div class="columns large-6 medium-8 small-12 end">{{ form.price }}{{ form.price.errors }}</div>
  </div>

  <div class="row">
    <div class="columns large-offset-2 large-2 medium-4 small-12"><label class="middle" for="{{ form.notes.id_for_label }}">Notes:</label></div>
    <div class="columns large-6 medium-8 small-12 end">{{ form.notes }}{{ form.notes.errors }}</div>
  </div>

  
</form>

{% endblock content %}
