{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Healthcare House Share</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/core.css' %}" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <header class="c-header">
      <div class="c-header__identity"><a href="/"><img src="{% static 'img/logo.png' %}"></a></div>
      <div class="c-header__tagline"><img src="{% static 'img/tagline.png' %}"></div>
      <!--<div class="c-login">
        <button class="button">Log in</button>
      </div>-->
    </header>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="c-copyright">&copy; 2016 - Healthcare House Share</div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="{% static 'js/core.js' %}"></script>

  </body>
</html>
