{% extends 'base.html' %}

{% block content %}
  
  <div class="c-home-filter">
    <div class="row">
        <div class="columns large-offset-2 large-8 medium-12 small-12">
          <form class="c-home-filter__form" method="GET" action="{% url 'search' %}">
                <div class="row collapse">
                    <div class="small-10 columns">
                      <input class="c-home-filter__location" type="text" name="location" placeholder="Where are you looking?">
                    </div>
                    <div class="small-2 columns">
                      <button class="c-home-filter__search button"><i class="fa fa-search"></i> Search...</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="c-featured-properties">

      <div class="columns large-12 medium-12 small-12">
        <h2 class="c-featured-properties__title">Featured properties</h2>
      </div>
      {% for house in houses %}
      <div class="columns large-3 medium-4 small-12">
            <div class="c-featured-property">
                <img class="c-featured-property__image" src="http://lorempixel.com/500/500/city">
                <div class="c-featured-property__title">{{ house.title }}</div>
                <div class="c-featured-property__location">{{ house.address }}</div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}
