{% extends 'base.html' %}

{% block content %}
  
  <div class="c-home-filter">
    
  </div>

  <!--<div class="row">
    <div class="columns large-12">
      <div class="c-featured js-owl-carousel">
        <div class="c-featured__slide item">
          <img src="http://lorempixel.com/1000/400/city">
        </div>
        <div class="c-featured__slide item">
          <img src="http://lorempixel.com/1000/400/sports">
        </div>
      </div>
    </div>
  </div>-->

  <!--<script>
    $('.js-owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoHeight:true,
        items: 1
    });
  </script>-->

{% endblock content %}
