{% extends 'base.html' %}

{% block content %}

  {% include 'partials/search_bar.html' %}

  <!--
    For results in search
  -->
  <div class="c-search-results">

  <!-- Another hacky loop! -->
  {% for index in '12345' %}
  <div class="c-search-result">
    <div class="row">
      <div class="columns large-3">
        <img src="http://lorempixel.com/300/300/city">
      </div>
      <div class="columns large-6">
        <div class="c-title">5 bedroom house, Bristol</div>
        <div class="c-subtitle">Address</div>
        <p class="c-search-result__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non lectus vitae leo luctus pulvinar. Nam tempus sem sed arcu laoreet, id venenatis tellus sollicitudin. Mauris fermentum est vitae nunc feugiat, ut tempus massa sodales. Mauris faucibus metus vel eros lacinia ornare. Sed dapibus tellus nec mollis aliquet. In hac habitasse platea dictumst. Nunc congue sem sit amet eros consequat, in sollicitudin est efficitur. Morbi dapibus quam neque, eget egestas felis accumsan ac. Aenean lacinia odio a diam finibus dignissim. Aliquam vel sem euismod neque iaculis lobortis. Pellentesque ornare ipsum in venenatis vestibulum. Ut fringilla sapien id suscipit tempus. Ut ut finibus lectus. Morbi turpis nunc, pellentesque non purus vitae, mollis varius orci.</p>
      </div>
      <div class="columns large-3">
        <div class="c-features">
          <div class="c-features__title">Features</div>
          <div class="c-feature">
            <label>Type:</label>1
          </div>
          <div class="c-feature">
            <label>Bedrooms:</label>2
          </div>
          <div class="c-feature">
            <label>Date available:</label>3
          </div>
          <div class="c-feature">
            <label>Price (pcm):</label>4
          </div>
        </div>
        <div class="c-view-property">
          View this property
        </div>
      </div>
      <!--<div class="columns large-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1242.0590201499765!2d-3.186282791716583!3d51.49270131489064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1c9809afd28b%3A0xa127fa0b2c51f58b!2sMaindy+Rd%2C+Cardiff+CF24+4HQ!5e0!3m2!1sen!2suk!4v1454167798669" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>-->
    </div>
  </div>
  {% endfor %}

  </div>


{% endblock content %}
