{% extends 'base.html' %}

{% block content %}

  {% include 'partials/search_bar.html' %}

  <!--
    For results in search
  -->
  <div class="c-search-results">

  <!-- Another hacky loop! -->
  {% for house in houses %}
  <div class="c-search-result">
    <div class="row">
      <div class="columns large-3">
        <img src="http://lorempixel.com/300/300/city">
      </div>
      <div class="columns large-6">
        <div class="c-title">{{ house.room_count }} bedroom house</div>
        <div class="c-subtitle">{{ house.address }}</div>
        <p class="c-search-result__description">{{ house.notes }}</p>
      </div>
      <div class="columns large-3">
        <div class="c-features">
          <div class="c-features__title">Features</div>
          <div class="c-feature">
            <label>Type:</label>{{ house.property_type|capfirst }}
          </div>
          <div class="c-feature">
            <label>Bedrooms:</label>{{ house.room_count }}
          </div>
          <div class="c-feature">
            <label>Date available:</label>{{ house.contract_set.first.end_date }}
          </div>
          <div class="c-feature">
            <label>Current Rent (pcm):</label>£{{ house.contract_set.first.price }}
          </div>
        </div>
        <div class="c-view-property">
          View this property
        </div>
      </div>
      <!--<div class="columns large-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1242.0590201499765!2d-3.186282791716583!3d51.49270131489064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1c9809afd28b%3A0xa127fa0b2c51f58b!2sMaindy+Rd%2C+Cardiff+CF24+4HQ!5e0!3m2!1sen!2suk!4v1454167798669" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>-->
    </div>
  </div>
  {% endfor %}

  </div>


{% endblock content %}
