.c-featured-property {
	padding: $standard-padding 0;
}

.c-featured-properties__title {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-top: $standard-padding * 2;
}

.c-featured-property__title {
	margin-top: 10px;
    color: black;
    font-size: 14px;
}