<form>
  <div class="c-filter">
    <div class="row">
      <div class="columns large-12 medium-12 small-12">
        <span class="c-filter__title">Search for a property</span>
      </div>
    </div>
    <div class="row">
      <div class="columns large-4">
        <input type="text" name="location" placeholder="Location...">
      </div>
      <div class="columns large-4">
        <select name="radius">
           <option value="5">5 miles</option>
           <option value="10">10 miles</option>
           <option value="15">15 miles</option>
           <option value="20">20 miles</option>
           <option value="25">25 miles</option>
           <option value="30">30 miles</option>
        </select>
      </div>
      <div class="columns large-4">
        <button type="button" class="success button">Search...</button>
      </div>

      <!-- 

        Available between
        Number of bedrooms
        Price range
        Bathrooms
        Type of property

      -->

    </div>
  </div>
</form>