<form method="GET">
  <div class="c-filter">
    <div class="row">
      <div class="columns large-12 medium-12 small-12">
        <span class="c-filter__title">Search for a property</span>
      </div>
    </div>
    <div class="row">
      <div class="columns large-7">
        <input type="text" name="location" placeholder="Location..." value="{{ location }}" />
      </div>
      <div class="columns large-3">
        <select name="radius">
           <option value="5">5 miles</option>
           <option value="10">10 miles</option>
           <option value="15">15 miles</option>
           <option value="20">20 miles</option>
           <option value="25">25 miles</option>
           <option value="30">30 miles</option>
        </select>
      </div>
      <div class="columns large-2">
        <button type="submit" class="button expanded">Search...</button>
        <!--<button type="button" class="button js-advanced-toggle">Advanced</button>-->
      </div>
      <div class="columns large-12">
        <span class="c-toggle js-advanced-toggle">Advanced search...</span>
      </div>

    </div>
    <div class="c_filter__advanced js-advanced-search">
      <div class="row">
        <div class="columns large-2">Availability:</div>
        <div class="columns large-5"><input type="text" id="availability_from"></div>
        <div class="columns large-5"><input type="text" id="availability_to"></div>
      </div>
      <div class="row">
        <div class="columns large-2">Price:</div>
        <div class="columns large-4">
          <select>
          </select>
        </div>
        <div class="columns large-2">Type:</div>
        <div class="columns large-4">
          <select>
          </select>
        </div>

      </div>
      <div class="row">
        <div class="columns large-2">Bedrooms: </div>
        <div class="columns large-4"><input type="number"></div>
        <div class="columns large-2">Bathrooms:</div>
        <div class="columns large-4"><input type="number"></div>
      </div>
    </div>
  </div>
</form>
